<div style="display: flex; align-items: center;">
    <img src="../img/es_logo.png" alt="title" style="margin-right: 20px;">
    <h1>Python Syntax and Data Types</h1>
</div>

### Submission Instructions

- You should complete the code in the code cells provided.
- Once you have completed the notebook, you should submit the completed notebook by uploading it to your github profile and sharing the github link as the submission.
- your github repostory should contain the completed notebook as well as a README.md file that summarizes what you have learned in this module.

Complete the code to print out Hello Python! in a formatted string.

In [ ]:
message = "Python"
Greeting = None
print(Greeting)

In [8]:
## solution

message = "Python"
Greeting = "Hello {}!".format(message)
print(Greeting)

Hello Python!

Correct the following code to:
1. Perform the arithmetic operation on a and b.
2. Perform concatenation on a and b.

In [ ]:
a = 5
b = "10"

# perform addition expected output is 15
addition = a + b
print(addition)

# perform concatenation expected output is 510
concatenation = a + b
print(concatenation)

In [16]:
## solution
## we can't add str and int.
# so we need to connvert the type first of the str value to int.

a = 5
b = "10"

addition = a + int(b)
print(addition)

# make the a as string to concatenate
concatenation = str(a) + b
print(concatenation)

15
510

Complete the code to extract and print out the domain name from the email address.

In [ ]:
email = "python_dev@estarta.com"

# extract domain from email
domain = None
print(domain)

In [19]:
## Solution
email = "python_dev@estarta.com"

# manually we could assign the domain value manually.
# or we have the split () built in function feature to split after @..

domain= email.split('@') ## that would devide/split to 2 parts one before and one after so we could choone the digit number 
domain= email.split('@')[1]
print (domain)

estarta.com

Perform the following operations on the "Cars" list:
1. Add "Honda" to the list.
2. Replace the second element with "Ford".
3. Remove "Toyota" from the list.
4. Check if "Subaru" is in the list.

In [26]:
# solution...
cars = ["Toyota", "Mercedes", "BMW", "Jeep"]

# add "Honda" to the list

cars.append ("Honda")

print(cars)

# replace the second element with "Ford"

cars[1] = "Ford"

print (cars)

# remove Toyota from the list

cars.remove("Toyota")

print(cars)

# print True if Subaru is in the list else False

# we could use many ways here but the simpest way using in operator as below.

print ("Subaru" in cars)

# now lets append and check again.

cars.append("Subaru")

print ("Subaru" in cars)

['Toyota', 'Mercedes', 'BMW', 'Jeep', 'Honda']
['Toyota', 'Ford', 'BMW', 'Jeep', 'Honda']
['Ford', 'BMW', 'Jeep', 'Honda']
False
True

Complete the code to do the following:
1. Create a new dictionary with the following key-value pairs: "name": "Ahmad", "age": 25, "occupation": "doctor", "country": "Jordan"
2. Add a new key-value pair with "city": "Amman"
3. Update the occupation to "Surgeon"
4. Remove the "country" key-value pair from the dictionary.
5. print out the updated dictionary.

In [ ]:
# complete the code to perform the operations listed above
person = {}


print(person)

In [28]:
## SOlution .....

person = {"name": "Ahmad", "age": 25, "occupation": "doctor", "country": "Jordan"}

person ["city"]="Amman"

print(person)

{'name': 'Ahmad', 'age': 25, 'occupation': 'doctor', 'country': 'Jordan', 'city': 'Amman'}

Complete the folowing opertasions on the "numbers" set:
1. Check if 4 is in the set.
2. Add 5 to the set.
3. Remove 3 from the set.
4. Try to add a duplicate element to the set.
5. Create a new set that contains numbers from in the range of m+1 to m+10, where m is the maximum number in the "numbers" set.
6. Create a set that is the union of the two sets.

In [ ]:
numbers = {2, 5, 16, 8, 7, 9, 3, 1}

# your code here

print(numbers)
# print the union of the two sets
#print(new_set)

In [36]:
## SolUtion
numbers = {2, 5, 16, 8, 7, 9, 3, 1}
# Check if 4 is in the set.
print (4 in numbers)

#also we could use if condition.

condition = 4 in numbers

if (condition == True):
    print ("4 in the numbers set")
else:
    print ("4 not in the numbers set")


## Add 5 to the set.

numbers.add(5)

print (numbers)

## remove 3 from set

numbers.remove(3)

print (numbers)

## Try to add a duplicate element to the set.

## set has no duplicate values, we tried above to add 5 which wasn't appended as duplicate value.


##  Create a new set that contains numbers from in the range of m+1 to m+10, 
# where m is the maximum number in the "numbers" set.

 
m = max(numbers)
print("Max number in set is: ", m)

new_set = set(range(m+1, m+11))

print(new_set)




union_set = numbers.union(new_set)

print ("THe needed Union part: ", union_set)

False
4 not in the numbers set
{1, 2, 3, 5, 7, 8, 9, 16}
{1, 2, 5, 7, 8, 9, 16}
Max number in set is:  16
{17, 18, 19, 20, 21, 22, 23, 24, 25, 26}
THe needed Union part:  {1, 2, 5, 7, 8, 9, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26}